@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    /* General Background Styles */
    body {
        @apply bg-gradient-to-l from-slate-900 via-slate-800 to-slate-900 backdrop-blur-lg scroll-smooth
    }

    /* Hide scrollbars without removing functionality */
    * {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox     */
    }
    ::-webkit-scrollbar {          /* Chrome      */
        display: none;
    }
}